---
title: Andygator's World
layout: layouts/home.njk
description: Musings of a surfing redneck
image: https://upload.wikimedia.org/wikipedia/en/a/a9/Example.jpg
date: Last Modified 04/07/2022
---
<div id="posts">
  <h2>Posts</h2>
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>
